*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
 background-color: lightgray;
}
.form-container {
  height: 520px;
  width: 400px;
  background-color: rgb(31, 31, 31);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.form-container * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.form-container h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}

.form-container label {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
}
.form-container input {
  display: block;
  height: 50px;
  width: 100%;
  background-color:ghostwhite;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  color:black;
  font-size: 20px;
  font-weight: 600;
}
::placeholder {
  color: #e1e1e1;
}
.form-container input:hover{
  outline: 2px solid #0001;
}
.form-container button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.navbar-container{
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  background-color:rgb(31, 31, 31);
  padding: 20px;
}
.navbar-container__title{
  color:ghostwhite;
  font-size:40px;
}
.navbar-container__button{
  width:150px;
  font-size: 40px;
  font-weight: 500;
  margin-top: auto;
  border-radius: 10px;
}
.navbar-container__button:hover{
  background-color: lightgreen;
}
.quest-container{
  height:400px;
  width:750px;
  background-color: ghostwhite;
  margin:auto;
  margin-top:100px;
  padding: 30px;
  border-radius: 10px;
  color:black;
}
.quest-container__title{
  color:black;
  font-size: 25px;
  padding:4px 10px;
  background-color: lightgray;
  border-radius: 10px;
}
.quest-container__question{
  margin: 25px 0;
  font-size: 35px;
  font-weight: 500;
}
.quest-container__options{
  font-size: 20px;
}
.quest-container__option{
  margin: 10px 0;
  cursor: pointer;
}
.quest-container__option:hover{
 background-color: lightgray;
 border-radius: 8px;
 padding:0 8px;
}
.result-container{
  height: 400px;
  width: 750px;
  background-color: ghostwhite;
  margin: auto;
  margin-top: 100px;
  padding: 30px;
  border-radius: 10px;
  color: black;
  text-align: center;
}
.result-container--text-1{
  margin-top:20px;
  font-size:60px;
  font-weight:600;
}
.result-container--text{
  margin-top:20px;
  font-size:30px;
  font-weight:600;
}
.result-container__submit-button {
  width: 150px;
  margin-top:40px;
  background-color: lightgray;
  font-size:40px;
  border-radius:10px;
} 
.result-container__review-button {
  width: 150px;
  margin-top:40px;
  margin-left:20px;
  background-color: lightgray;
  font-size:40px;
  border-radius:10px;
}
.result-container__submit-button:hover {
  width: 150px;
  background-color: lightgreen;
}
.result-container__submit-button:active {
  width: 150px;
  background-color: lightgreen;
}
.result-container__review-button:hover {
  width: 150px;
  background-color: lightgreen;
}

